/*
header 样式设置
*/
/*公共类*/
.clearfix::after{
	content:"";
	width:0px;
	height:0px;
	font-size:0px;
	display:block;
	clear:both;
}
.header{
	width: 1100px;
	margin:0px auto;
}
.header h1.logo{
	width: 100px;
	height: 45px;
	/*overflow: hidden;*/
}
.header h1.logo img{
	width: 100%;
}
.header h1.logo{
	float:left;
}
.header .menu{
	float:right;
/*	margin-top:15px;*/
}
.header .menu li{
	float:left;
}
.header .menu li a{
	text-decoration:none;
	color:#666;
	display:inline-block;
	margin:0 15px;
	padding:17px 0;
	font-size:17px;
	border-bottom:3px solid #FFF;
}
.header .menu li a:hover{
	color:#00a7ea;
	border-bottom:3px solid #00a7ea;
}
div.banner{
	height:260px;
	background:url("../images/brief_banner.jpg") center top;
}
.content{
	width: 1100px;
	margin:0px auto; 
}
.content h2.h2{
	float: left;
	font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	font-size: 24px;
    color: #333;
    padding: 30px 0;
}
.content .nav{
	float:right;
	font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	font-size:12px;
	display:inline-block;
	margin-top:40px;
}
.content .nav a{
	text-decoration:none;
}
.content .text{
	float: left;
	font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	font-size: 15px;
    line-height: 30px;
    color: #333;
    padding-bottom: 20px;
    text-indent: 30px;
}
.content .text p{
	padding-bottom:30px;
}
.footer{
	background:#eee;
	height:300px;
}
.footer .foot{
	width:1100px;
	margin:0 auto;
/*	border:1px solid #000;*/
}
.footer .foot .bottomLink{
	float:left;
	margin-top:80px;
}
.footer .foot .bottomLink a{
	text-decoration:none;
	font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	font-size: 13px;
	color: #333;
}
.footer .foot .contactUs{
	float:right;
	width:200px;
	height:20px;
	margin-top:80px
}
.footer .foot .contactUs ul li{
	float:right;
	margin-right:10px;
}
.footer .foot .contactUs ul a.weixin{
	display:block;
	width:30px;
	height:26px;
	background:url("../images/ico_footer.png");
/*	font-size:10px;*/
/*	text-indent:-999em;*/
/*    position:relative;*/
}
.footer .foot .contactUs ul li{
	position:relative;
	/*overflow: hidden;*/
}
.footer .foot .contactUs ul a.weixin img{
	position:absolute;
	top:28px;
	left:-6660px;
	width:180px;
	height:180px;
	opacity: 0;
	-webkit-transition:opacity 1s;
}
.footer .foot .contactUs ul a.weixin:hover img{
	/*display:block;*/
	opacity:1;
	left:-60px;
}
.footer .foot .contactUs ul a.weibo{
	display:block;
	width:31px;
	height:26px;
	background:url("../images/ico_footer.png");
	background-position:-46px 0;
	/*font-size:5px;*/
	text-indent:-999em;
}
.footer .foot .copyright{
	float:left;
	margin-top:35px;
}
.footer .foot .copyright a,.footer .foot .copyright p{
	text-decoration:none;
	font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	font-size: 11px;
	color: #333;
	padding-top:10px;
}
.footer .foot .copyright #p_copy{
    color: #aaa;
    font-size: 10px;	
}
.banner_t{
	height:260px;
	background:url("../images/manager_banner.jpg") center top;
}
.content .manager_list{
	float:left;
	width:100%;
}
.content .manager_list li{
	position:relative;
	padding:30px 0 30px 162px;
	min-height:146px;
	border-top:1px solid #e9e9e9;
}
.content .manager_list li.one{
	border-top:none;	
}
.content .manager_list li img{
	position:absolute;
	top:30px;
	left:0;
}
.content .manager_list li h3{
	font-size: 16px;
	font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
    line-height: 18px;
    font-weight: normal;
    color: #333;
}
.content .manager_list li p{
	font-size: 14px;
	font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
    line-height: 30px;
    color: #666;
    padding-top: 16px;
}