body{
	margin:0;
	min-width:100%;
	min-height:100%;
	/*background:#eee;*/

}
.clearfix::after{
	content:"";
	width:0;
	height:0;
	font-size:0;
	display:block;
	clear:both;
}
.content{
	position:fixed;
	width:auto;
	height:auto;
	min-width:100%;
	min-height:100%;
}
.content .top .main_img{
	position: fixed;
	left: 0;
	top: 0;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	background: url("../images/bg.jpg") center;
	z-index:-1;
}
.content .top .logo_right{
	float:right;
	width:652px;
	height:424px;
	background:url("../images/01.png") no-repeat; 
}
.content .top .logo_cen{
	position:absolute;
	left:-50px;
	right:0px;
	top:-150px;
	bottom:0px;
	margin:auto;
	width:260px;
	height:400px;
	/*background:#aaa;*/
}
.content .top .logo_cen img{
	width:auto;
	height:400px;
}
.content .main .main_top_img img{
	width:1000px;
	height:350px;
	opacity:.7;
}
.content .menu{
	position:absolute;
	bottom:30px;
	width:642px;
	height:87px;
	background:url("../images/navbg.png") no-repeat;
}
.content .menu ul{
	position:relative;
	left:178px;
	top:0px;
}
.content .menu ul li{
	float:left;
    width: 87px;
    height: 87px;
    text-align:center;
/*    background:url("../images/nava.png") no-repeat;*/
}
.content .menu ul li a{
	font:13px "微软雅黑",Arial;
    color: #737373;
    height:87px;
    line-height:87px;
}
.content .menu ul li img{
	position:relative;
	top:-86px;
	z-index:-1;
	opacity:0;
	transition:opacity .5s;
}
.content .menu li a:hover~img{
	transform:translatex();
	opacity:1;
}
.content .menu .last_img{
	 width: 87px;
     height: 87px;
     background:;
}
.h_main1{
	position:absolute;
	bottom:0px;
	width:100%;
	height:400px;
	background:#fff;
	opacity:0;
	z-index:-1;
	transition:all .5s;
}
#two:target,#three:target,#four:target,#five:target{
	bottom:130px;
	z-index:7;
	opacity:1;
}
.h_main1 .two_top{
	position:absolute;
	top:-29px;
	right:0;
	width: 29px;
	height:29px;
	background:url("../images/close.png") no-repeat;
	background-position:0 0;
	transition:background-position .5s;
}
.h_main1 .two_top:hover{
	background:url("../images/close.png") no-repeat;
	background-position:0 -29px;
}
.h_main1 .two_fo{
	position:absolute;
	bottom:0px;
	width:100%;
	height:30px;
	background:#aaa;
}
.h_main1 .two_ic{
	position:absolute;
	bottom:-14px;
	left:350px;
	width:31px;
	height:14px;
	background:url("../images/wjt.png") no-repeat;
}
.h_main1 .con li:nth-of-type(1){
	position:absolute;
	top:20px;
	left:20px;
	width:300px;
	height:260px;
	border:10px solid #ddd;
}
.h_main1 .con li:nth-of-type(2){
	position:absolute;
	top:20px;
	left:370px;
	width:300px;
	height:260px;
	border:10px solid #ddd;
}
.h_main1 .con .show1 img{
	width:300px;
	height:auto;
}
.h_main1 .con a{
	position:absolute;
	left:100px;
	bottom:-50px;
	color:#777;
	font:20px "微软雅黑",Arial;
}
.h_main1 .con .show2 img{
	width:300px;
	height:auto;
}
.h_main1 .two_ic1{
	position:absolute;
	bottom:-14px;
	left:350px;
	width:31px;
	height:14px;
	background:url("../images/ojt.png") no-repeat;
}
#three .th_content{
	position:absolute;
	left:20px;
	top:20px;
	width:1860px;
	height:330px;
/*	border:1px solid #000;*/
}
#three .th_content #book{
	position: absolute;
	top:15px;
	left:-15px;
	width:auto;
	height:320px;
}
#three .th_content #myself{
	position:absolute;
	top:150px;
	left:100px;
}
#three .th_content .intro{
	position: absolute;
	left:450px;
	top:0px;
	width:1400px;
	height:330px;
	/*border:1px solid #000;*/
}
#three .th_content .intro dl{
	position:absolute;
	top:0px;
	left:20px;
	width:300px;
	height:200px;
	/*border-right:1px solid #000;*/
}
#three .th_content .intro dl dt,#three .th_content .intro .ri h2{
	margin:15px 0;
	font:25px "逐浪雅宋体",Arial;
	color:#888;
}
#three .th_content .intro dl dd{
	margin-bottom:13px;
	font:20px "逐浪雅宋体",Arial;
	color:#888;
/*	border-right:1px solid #000;*/
}
#three .th_content .intro .ri{
	position:absolute;
	right:0;
	width:900px;
	height:330px;
	/*border:1px solid #000;*/
}
#three .th_content .intro .ri #left{
	float:left;
	width:270px;
	height:270px;
	/*border:1px solid #000;*/
}
#three .th_content .intro .ri #right{
	float:right;
	width:600px;
	height:270px;
	border:1px solid #000;
}
#three .th_content .intro .ri #left li{
	width: 100px;
	height:50px;
	border:3px solid #000;
	text-align:center;
	line-height:50px;
	margin:5px 20px 12px 100px;
}
#three .th_content .intro .ri #left li p{
	padding-top:12px;
	font-weight:bold;
	font:20px "逐浪雅宋体",Arial;
	color:#888;
}