body{
	margin:0;
	min-width:100%;
	min-height:100%;
	/*background:#eee;*/
}
.clearfix::after{
	content:"";
	width:0;
	height:0;
	font-size:0;
	display:block;
	clear:both;
}
.content{
	position:fixed;
	width:auto;
	height:auto;
	min-width:100%;
	min-height:100%;
}
.content .top .main_img{
	position: fixed;
	left: 0;
	top: 0;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	background: url("../images/bg.jpg") center;
	z-index:-1;
}
.content .top .logo_l{
	float:left;
	width:69px;
	height:105px;
	margin-top:20px;
	background:url("../images/awwwards_siteoftheday_w_left.png") no-repeat;
}
.content .top .logo_r{
	float:right;
	width:69px;
	height:105px;
	margin-top:20px;
	background:url("../images/startdrag.png") no-repeat;
}
.content .main .in0{
	position:absolute;
	right:-200px;
	top:270px;
	width:918px;
	height:508px;
}
.content .main .in1{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:918px;
	height:508px;
	margin:auto;
}
.content .main .in2{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:918px;
	height:508px;
	margin:auto;
}
.content .main .in2 .logo1{
	position:absolute;
	top:110px;
	left:100px;
}
.content .search{
	position:absolute;
	right:100px;
	bottom:45px;
}
.content .search form #txt{
	width:177px;
	height:25px;
	outline:none;
	border-radius:20px;
	text-indent:20px;
}
.content .search form #sub{
	position: relative;
	top:-2px;
	right:17px;
	outline:none;
	border-style: none;
	text-indent:-9999em;
	width:36px;
	height:25px;
	background:url("../images/worksu.png") no-repeat;
}
.content .menu{
	position:absolute;
	bottom:45px;
	width:642px;
	height:87px;
	background:url("../images/navbg.png") no-repeat;
}
.content .menu ul{
	position:relative;
	left:190px;
	top:0px;
}
.content .menu ul li{
	float:left;
    width: 87px;
    height: 87px;
    text-align:center;
/*    background:url("../images/nava.png") no-repeat;*/
}
.content .menu ul li a{
	font:13px "微软雅黑",Arial;
    color: #737373;
    height:87px;
    line-height:87px;
    /*position:relative;
    top:-50px;*/
    /*background:url("../images/nava.png") no-repeat;*/
}
/*.content .menu ul li{
	background:url("../images/nava.png") no-repeat;
}
.content .menu ul li:nth-of-type(1){
	background:url("../images/nava.png") no-repeat;
	opacity:1;
}*/
.content .menu ul li img{
	position:relative;
	top:-86px;
	z-index:-1;
	opacity:0;
	transition:opacity .5s;
}
/*.content .menu ul li #img_1{
	opacity:1;

}*/
.content .menu li a:hover~img{
	transform:translatex();
	opacity:1;
}
.content .menu .last_img{
	 width: 87px;
     height: 87px;
     background:;
}
.content .footer_1{
	position: absolute;
    bottom: 0px;
	width: 100%;
    height: 30px;
    background: #fff;
}
.content .footer_1 .footer_le{
	float:left;
	width:458px;
	height:30px;
	background:url("../images/footl.jpg") no-repeat;
}
.content .footer_1 .footer_le a{
	position:absolute;
	left:325.4px;
	top:10.2px;
	font-size:13px;
	color:#ccc;
}
.content .footer_1 .footer_ri{
	float:right;
	width:380px;
}
.content .footer_1 .footer_ri #ri_one{
	width:84px;
	height:30px;
	/*border:1px solid #000;*/
	border-style:none;
	outline:none;
	cursor:pointer;
	background:url("../images/logo1.png") no-repeat;
	background-position: 0 0;
	transition:all .5s;
}
.content .footer_1 .footer_ri #ri_two{
	width:84px;
	height:30px;
	border-style:none;
	outline:none;
	cursor:pointer;
	background:url("../images/logo2.png") no-repeat;
	background-position: 0 0;
	transition:all .5s;
}
.content .footer_1 .footer_ri #ri_three{
	width:84px;
	height:30px;
	border-style:none;
	outline:none;
	cursor:pointer;
	background:url("../images/logo3.png") no-repeat;
	background-position: 0 0;
	transition:all .5s;
}
.content .footer_1 .footer_ri #ri_four{
	width:84px;
	height:30px;
	border-style:none;
	outline:none;
	cursor:pointer;
	background:url("../images/logo4.png") no-repeat;
	background-position: 0 0;
	transition:all .5s;
}
.content .footer_1 .footer_ri #ri_one:hover{
	background:url("../images/logo1.png") no-repeat;
	background-position:0 -30px;
}
.content .footer_1 .footer_ri #ri_two:hover{
	background:url("../images/logo2.png") no-repeat;
	background-position:0 -30px;
}
.content .footer_1 .footer_ri #ri_three:hover{
	background:url("../images/logo3.png") no-repeat;
	background-position:0 -30px;
}
.content .footer_1 .footer_ri #ri_four:hover{
	background:url("../images/logo4.png") no-repeat;
	background-position:0 -30px;
}
.h_main1{
	position:absolute;
	bottom:150px;
	width:100%;
	height:500px;
	background:#aaa;
	opacity:0;
	transition:all 1s;
}
#one:{

}